<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
p{
  font-weight: bold;
  font-size: 150%;
}

th, td {
  text-align: left;
  padding: 16px;
}
#right 
{  
width: 200px;  
height: 150px;    
bottom-right: 100px;
 
}  

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>

<body><center><p><b>DIETARY PATTERNS</b></p></center>
<table>
  <tr>
    <th>S No</th>
    <th>Food</th>
    <th>Types</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Raw and Cooked Vegetables</td>
    <td>Healthy Food</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Red Meat</td>
    <td>UnHealthy Food</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Fruits</td>
    <td>Healthy Food</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Sweet Sugar Bevarages and Alcoholic Beverages</td>
    <td>UnHealthy Food</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Fresh Fruits Juice</td>
    <td>Healthy Food</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Chicken and Excessive Salt and Fish</td>
    <td>UnHealthy Food</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Milk</td>
    <td>Healthy Food</td>
  </tr>
</table>
<p></p>
<center><img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bnV0cml0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="HTML5 Icon" style="width:300px;height:200px;top: 80px;
  right: 0;"></center>


</body>
</html>
